:root{
  /* Colors */
  --orange: #ff9505;
  --blue: #016fb9;
  --white: #fffbfe;
  --black: #050505;

  /* Fonts */
  --system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Ubuntu", sans-serif;
}
